/* TODO: Refactor CSS to better categorize different parts of the body */
@font-face {
	font-family: "sfprodisplaysemibold";
	src:
		url("assets/fonts/SF-Pro-Display-Semibold.otf") format("otf");
	font-family: "sfprotextregular";
	src:
		urL("./assets/fonts/SF-Pro-Text-Regular.otf") format("otf");
}

body {
    /*font-family: Arial, sans-serif;*/
	font-family: "sfprotextregular", sans-serif;
    margin: 0;
    padding: 0;
	/* box-sizing: border-box; */
}

header {
	margin: 0;
	font-family: "sfprodisplaysemibold", sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 0px 30px;
    color: #504746;
    text-shadow: -10px -10px 10px #494368;	/* x, y, sharpness, color */
    background-color: rgb(255, 0, 255);
}

main {
	margin: 0;
	padding: 0px 30px;
	background-color: rgb(255, 0, 200);
}

footer {
	padding: 0px 30px; /*top right bottom left*/
	background-color: rgb(220, 0, 200);
}

p {
	padding: 0px;
}

h2 {
	color: #CEEC97;
	padding: 0px 0px;
}

h2::before, h2::after {
	content: "";
	width: 52px;
	height: 46px;
	background-image: url("assets/media/heart-ezgif.com-resize(2).gif");
	display: inline-block;
}

h3 {
	color: #F4B393;
	padding: 0px 30px;
}

h3::before, h3::after{
	content: "";
	width: 33px;
	height: 35px;
	background-image: url("assets/media/pb.gif");
	display: inline-block;
}

h4 {
	padding: 0px 90px;
}

.logo {
	width: 32px;
	height: 32px;
	text-decoration: none;
}

td {
	border: 1px solid black;
}

table{
	border: 2px solid black;
	/* remove double border, otherwise there would be a gap between table border and td elements border */
	border-collapse: collapse;
}