/* TODO: Refactor CSS to better categorize different parts of the body */
body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
}
header {
            display: flex;
            align-items: center;
            justify-content: space-between;
}
        header, footer {
            padding: 25px;
            color: #504746;
            /* x,y,sharpness,color */
            text-shadow: -10px -10px 10px #494368;
            background-color: rgb(220, 0, 200);
        }
		p {
			padding: 0px;
		}
        h2 {
            color: #CEEC97;
        }
		h2::before {
			width:40px;
			height:40px;
			background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2680d700-913a-4f70-a942-98647ded63df/df8o4ha-0c5a48b1-03ca-494d-a9c5-fdda95873de2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2ODBkNzAwLTkxM2EtNGY3MC1hOTQyLTk4NjQ3ZGVkNjNkZlwvZGY4bzRoYS0wYzVhNDhiMS0wM2NhLTQ5NGQtYTljNS1mZGRhOTU4NzNkZTIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZmQeuTThnEWjV8kRaaMfZ6M-xMdDt9Nw_ZCGRyYGvko");
		}
        h3 {
            color: #F4B393;

        }
        h3::before {
            content: "";
            width: 40px;
            height: 40px;
            background-image: url("assets/media/pb.gif");
            display: inline-block;
        }
        h3::after {
            content: "";
            width: 40px;
            height: 40px;
            background-image: url("assets/media/pb.gif");
            display: inline-block;
        }
        main {
            padding: 30px;
            background-color: rgb(255, 0, 200);
        }
		.logo {
			width: 32px;
			height: 32px;
			text-decoration: none;
			text-decoration-line: none;
		}
		.logo[href^="https://"][href*="github.com"]{
			--logo: url("assets/favicons/github2.png");
		}
		.logo[href^="https://"][href*="github.com"]::after{
			content: "" / "go to github"
		}
		.logo[href^="https://"][href*="makerworld.com"]{
			--logo: url('assets/favicons/makerworld.png');
		}
		.logo.printables{ --logo: url("assets/favicons/printables10.png") }
		.logo.github{--log: url('assets/favicons/github2.png')}
		.logo.makerworld{ --logo: url('assets/favicons/makerworld.png')}
